PlotWidget {
    border: 0 solid;
    padding: 0;
}
QGroupBox {
    border: 0 solid;
    padding: 0;
}

QTableView {
    border-color: #969696
}

QGroupBox#system_info QLabel {
    font-size: 18px;
}

QGroupBox#cpu_info QLabel {
    font-size: 18px;
}

QGroupBox#ram_info QLabel {
    font-size: 18px;
}

QGroupBox#gpu_info QLabel {
    font-size: 18px;
}

QGroupBox#history_info QLabel {
    font-size: 18px;
}

QGroupBox#cpu_details QLabel {
    font-size: 12px;
}

QGroupBox#ram_details QLabel {
    font-size: 12px;
}

QGroupBox#gpu_details QLabel {
    font-size: 12px;
}

QHeaderView {
    font-size: 14px;
    font-weight: bold;
    padding: 0;
}

QTableView {
    padding: 0;
    border: 0 solid;
}