GPUtil~=1.4.0
Jinja2~=3.1.2
MarkupSafe~=2.1.1
numpy~=1.23.5
psutil~=5.9.4
pyqtgraph~=0.13.1
PySide6~=6.4.1
PySide6-Addons~=6.4.1
PySide6-Essentials~=6.4.1
qt-material~=2.12
shiboken6~=6.4.1
winstats~=0.80
pyadl~=0.1
winstats~=0.80
distro~=1.8.0